.mathImage > svg {
    max-width: 100%;
}

.mathImage {
    display: inline-block;
}

.dropdown-menu {
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.dropdown-toggle {
	cursor: pointer;
}

.dropdown-menu, .showDropDown {
    opacity: 0;
    visibility: hidden;
    display:block;
    top: -10px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.showDropDown {
    opacity: 1;
    top: 100%;
    visibility: visible;
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-dual-ring {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 120px;
  height: 120px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
    width: 100%;
    height: 250px;
    background-image: url(/static/img/dragonA.jpg);
    background-repeat: no-repeat;
    margin-bottom: 20px;
    background-size: cover;
    max-width: 1200px;
    margin: auto;
    background-position-y: -48px;
}

@media screen and (max-width: 1000px) {
    .header {
      background-image: url(/static/img/dragonA1000.jpg);
    }
}
@media screen and (max-width: 800px) {
    .header {
      background-image: url(/static/img/dragonA800.jpg);
    }
}
@media screen and (max-width: 600px) {
    .header {
      background-image: url(/static/img/dragonA600.jpg);
    }
}
@media screen and (max-width: 400px) {
    .header {
      background-image: url(/static/img/dragonA400.jpg);
    }
}

@media screen and (max-width: 992px) {
    .header {
      background-position-y: 30px;
    }
}

@media screen and (max-width: 650px) {
    .header {
      background-position-x: -100px;
    }
}

@media screen and (max-width: 520px) {
    .header {
      background-position-x: -265px;
    }
}
.page {
    margin-top: 40px;
    min-height: 800px;
        padding: 15px;
        margin-bottom:40px;
}

.section-wrapper {
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 12px 0px rgba(0,0,0,0.75);
  border-color: grey;
    border-style: solid;
    border-width: 1px;
}

@media screen and (max-width: 500px) {
  .page {
    padding: 0px;
  }

  .section-wrapper {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
      border-width: 0px;
  }

}

.book-nav {
  margin-top: 40px;
  height:400px;
  overflow-y:scroll;
}

.book-nav-fixed {
  position:fixed;
  top:25px;
}

.contents-relative {
  position:relative;
  height:100%;
}
